body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #0d1117;
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.day {
  background: #161b22;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.day h3 {
  margin-top: 0;
}

input, select, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #238636;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#status {
  text-align: center;
  margin-top: 10px;
}
